.specificProject_head {
	border: 3px solid black;
	width: 50%;
	font-size: 16px;
	background-color: #7b2240;
	color: #ffffff;
}

.modify_button {
	border: 3px solid black;
	width: 10%;
	font-size: 16px;
	background-color: #ffff00;
}

.specificProject_format {
	border: 3px solid black;
	background-color: #d3d3d3;
}

.label_format {
	margin-top: 50px;
	margin-left: 80px;
}

.name_label {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 67px;
	padding-right: 67px;
	border: 3px solid black;
	font-size: 36px;
	background-color: #7b2240;
	color: #ffffff;
}

.num_label {
	padding: 10px;
	border: 3px solid black;
	font-size: 36px;
	background-color: #7b2240;
	color: #ffffff;
}

.desc_label {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 23px;
	padding-right: 23px;
	border: 3px solid black;
	font-size: 36px;
	background-color: #7b2240;
	color: #ffffff;
}

.pextend {
	width: 351px;
}

.name{
	border: 1px solid black;
}
	

h1 {
	margin-left: 80px;
}

#project_name {
	font-size: 36px;
	padding: 10px;
	width: 68%;
}

#num {
	font-size: 36px;
	padding: 10px;
	width: 5%;
}

#desc{
	font-size: 36px;
	width: 70%;
}

#submit {
	font-size: 36px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-color: #7b2240;
	background-color: #7b2240;
	color: #ffffff; 
}

a {
	font-size: 36px;
}

button {
	float: right;
	font-size: 36px;
	margin-right: 50px;
	margin-top: 25px;
	background-color: #80ceeb;
	border: 1px solid black;
}

body {
	background-color: #fdcd3bb8;
}