
body{
	background-color:#965353;
}
.container{
	margin-top: 1em;
	background-color:#FFFFFF;
	box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#leftPanel{
    background-color:#a76868;
    color:#fff;
	text-align: center;
	margin-left: 10px;
}
.profile-info-div{
	margin-top:10px;
}
#rightPanel{
    min-height:415px;
}
.profile-pic{
	width: 50%;
}
.bio-description{
	width: 100%;
	min-height: 150px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.form-title{
	text-transform: uppercase;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #523c3c;
  border-radius: 5px;
 
/*
p.username{
	border: solid;
	text-align: center;
	margin: 10%;
	width: 59%;
	padding: 10%;
	border-width: 4px;
	border-color: #ffffff;
}

button.edit{
	height: 10%;
	width: 80%;
	margin: 10%;

	border: solid;
	border-width: 4px;
	border-color: #ffffff;
}

article{
	margin:auto;
	margin-top:1em;
	width: 70%;
	
	padding: 0;
	background-color: #80ceeb;
	
}
input, textarea{
	font-size: 30px;
	width: 100%;
}


section:after{
	content: "";
	display: table;
	clear: both;
}

.head_name {
	border: 3px solid black;
	width: 50%;
	font-size: 16px;
	background-color: #ffff00;
}

h1 {
	text-align: center;
	font-size: 36px;
}

.label {
	border: 3px solid black;
	font-size: 36px;
	background-color: #ffff00;
	text-align: center;
}

.extend{
	width: 100%;
}*/