
{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/editProfile.css">
{% endblock %}
{% block content %}

<section>
	<article>
		<div class="head_name"><h1>Edit Profile</h1></div> <br>
		<table>
			<tr>
				<td class="label">Name:</td>
				<td class="extend"><input type = "text" name = "fname" ></td>
			</tr>
			<tr>
				<td class="label">Occupation:</td>
				<td class="extend"><input type = "text" name = "Occupation"></td>
			</tr>
			<tr>
				<td class="label">Biography:</td>
				<td class="extend"><textarea type = "text" name = "bio" rows="5"></textarea></td>
			</tr>
		</table>
		
	
	</article>
</section>
{% endblock %}		
