<!-- Route still needs to be added -->

{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}
{% block content %}
<div class="login-page">
<div class="form">
    <form class="login-form" method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <h1 class="form-title" style="font-size: 1.7em;">Reset Password</h1>
            <div class="">
                {{ form.email.label() }}
                <span onfocusout="validEmail()" required> {{ form.email(placeholder="Email") }} </span> <br>
				<div id = "emailError"></div>
            </div>
            <div class="">
                {{ form.confirmEmail.label() }}
                <span onfocusout="validConfirmEmail();" required> {{ form.confirmEmail(placeholder="Confirm Email") }} </span> <br>
				<div id = "matchEmailError"></div>
            </div>
        </fieldset>
        <div>
            {{ form.submit(class="formLabel") }}
        </div>
    </form>
</div>
</div>
{% endblock %}