<!-- Route still needs to be added -->

{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Forgot Password?</legend>
            <div class="formLabel">
                {{ form.email.label() }}
                <span onfocusout="validEmail()" required> {{ form.email() }} </span> <br>
				<div id = "emailError"></div>
            </div>
            <div class="formLabel">
                {{ form.confirmEmail.label() }}
                <span onfocusout="validConfirmEmail();" required> {{ form.confirmEmail() }} </span> <br>
				<div id = "matchEmailError"></div>
            </div>
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}