<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <!-- {% for user in info %}
    <p> {{ user.ID }}, current date: {{ user.dateCreated }}.</p>
    {% endfor %} -->

    <a href="{{ url_for('register') }}">Register</a>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>