<!DOCTYPE html>
<html lang="en">

<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Brooklyn Buckets</title>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"><!--this will import bootstrap to our html pages k-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-custom"> <!--place holder nav to see other style in bootstrap visit https://getbootstrap.com/docs/4.0/components/navbar/-->
    <a class="navbar-brand" href="{{ url_for('home') }}">	<img src="../static/pictures/bulldog-logo.png" alt="logo bulldog buckets" class="company-logo ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('newPost') }}">New Post</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('account') }}">Account</a>
                  <a class="dropdown-item" href="{{ url_for('profile') }}"> Profile</a>
                <a class="dropdown-item" href="{{ url_for('editProfile') }}">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
              </div>
            </li>
      </ul>
          
       
  
      {% else %}
      <ul class="nav navbar-nav ">
          
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">
                      Login
                    </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="{{ url_for('register') }}">Register</a>
              </li>
             
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </span> -->
      {% endif %}
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('aboutPage') }}">About</a>
         </li>
      </ul>
  </nav>
  {% block content %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block scripts %}
{% endblock scripts %}
</html>
