{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Login</legend>
            <div>
                {{ form.user.label() }}
                {{ form.user() }}
            </div>
            <div>
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <div>
        Don't have an account? <a href="{{ url_for('register') }}">Register here.</a>
    </div>
{% endblock %}