{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}
{% block content %}

<div class="login-page">
    <div class="form">


        <form class="login-form"  method="POST" action="">
            <fieldset>
                    <div class="form-header">
                            <h1 class="form-title">Login</h1>
                        </div>
                {{ form.user.label() }}
                <span onfocusout="validUser()" required> {{ form.user(placeholder="username") }} </span>
                {{ form.password.label() }}
                <span onfocusout="validPass();" required> {{ form.password(placeholder="password") }} </span>
                {{ form.submit(class="formLabel") }}
                <p class="message">Not registered? <a class="formAnchor" href="{{ url_for('register') }}">Create an
                        account</a></p>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock scripts %}
<!-- <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Login</legend>
            <div class="formLabel">
                {{ form.user.label() }}
                <span onfocusout="validUser()" required> {{ form.user() }} </span> <br>
				<div id = "userError"></div>
            </div>
            <div class="formLabel">
                {{ form.password.label() }}
                <span onfocusout="validPass();" required> {{ form.password() }} </span> <br>
				<div id = "passError"></div>
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div>
            {{ form.submit() }}
            <small class="text-muted ml-2"><a href="{{ url_for('forgotPassword') }}">Forgot Password?</a></small>
        </div>
    </form>
    <div>
        Don't have an account? <a href="{{ url_for('register') }}">Register here.</a>
    </div>-->