<!-- IMPORTANT NOTE: The back-end team should first create a copy of this HTML file, implement python code on that
file, and place it onto apps/templates folder. Do NOT implement anything on the original file within the 
front-end folder, as the front-end team are still working on this. (11/07/2019) -->
{% extends "layout.html" %}

{% block head %}
<link href="../static/css/newProject.css" rel="stylesheet" style="text/css">
{% endblock %}
{% block content %}

<div class="container">
	<form id="contact" action="" method="post">
		<h3>Post New Project</h3>
		<h4>Fill out form to submit new project and start collaborating</h4>
		<fieldset>
			<input placeholder="Title of your post" type="text" tabindex="1" required autofocus>
		</fieldset>
		<fieldset>
			<input placeholder="maximum number of people you want to collaborate" type="email" tabindex="2" required>
		</fieldset>
		<fieldset>
			<input placeholder="Github link to your project or URL to your project" type="url" tabindex="4" required>
		</fieldset>
		<fieldset>
			<textarea placeholder="Describe your project" tabindex="5" required></textarea>
		</fieldset>
		<fieldset>
			<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
		</fieldset>
	</form>


</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='./js/validNum.js') }}"></script>
{% endblock scripts %}
<!--	<div class="newProject_head"><h1>New Project</h1></div> <br>
	<div class="newProject_format">
		<div class="label_format">
			<label for="project_name" class="name_label"><b>Project Name</b></label>
			<input id="project_name" type="text" placeholder="Type Project Name Here" required>
		</div>
		<div class="label_format">
			<label for="num" class="num_label"><b># of members needed</b></label>
			<input id="num" type="text" onfocusout="validNum();" required> <br>
			<div id = "numError" style="float: left;"></div>
		</div>
		<div class="label_format">
			<table>
				<tr>
					<td class="pextend"><label for="desc" class="desc_label"><b>Project Description</b></label></td>
					<td class="extend"><textarea type = "text" id="desc" rows="-5" placeholder="Type Project Description Here." required></textarea></td>
				</tr>
			</table>
		</div> <br>
	</div>
	<div style="text-align: center;"> <input type="submit" value="Post" id="submit"> </div>-->