<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}">
</head>

<body>
<section>
	<nav>
		<img src ="../../bulldog.png" alt="brooklyn college icon" height=50% width=100%>
		<br />
		<p class="username"> 
			{% if current_user.is_authenticated %}
			{{ current_user.username }}
			{% else %}
			{% endif %}
		</p>
		<br />
		<button class="edit"><a class="nav-link" href="{{ url_for('editProfile') }}">EDIT PROFILE</a></button>
	</nav>
	
	<article>
		<ul class="w3-sidebar w3-bar-block w3-light-grey w3-card">
			<li class="buttongroup"><a class="menubutton" href="{{ url_for('home') }}">Home</a></li>
			<li class="buttongroup"><a class="menubutton" href="#Menu">Menu</a></li>
			<li class="buttongroup"><a class="menubutton" href="#Menu" onclick="openCity(event, 'Current Projects')">Current Projects</a></li>
			<li class="buttongroup"><a class="menubutton" href="#Menu" onclick="openCity(event, 'Applied Projects')">Applied Projects</a></li>
			<li class="buttongroup"><a class="menubutton" href="#Menu" onclick="openCity(event, 'Completed Projects')">Completed Projects</a></li>
			<li class="buttongroup"><a class="menubutton" href="#Menu" onclick="openCity(event, 'Inquiries')">Inquiries</a></li>
			<li class="buttongroup"><a class="menubutton" href="#Menu" onclick="openCity(event, 'About Me')">About Me</a></li>
		</ul>

		<div style="margin-left:130px">
  

			<div id="Current Projects" class="w3-container city" style="display:none">
				<p> Project Name></p>
				<h3> short Description</h3>
			</div>

			<div id="Applied Project" class="w3-container city" style="display:none">
				
			</div>

			<div id="Completed Projects" class="w3-container city" style="display:none">

			</div>

			<div id="Inquiries" class="w3-container city" style="display:none">

			</div>
			<div id="About Me" class="w3-container city" style="display:none">

			</div>

		</div>	
	</article>
</section>
</body>
</html>			
