{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}
{% block content %}

<div class="login-page">
    <div class="form">

        <form class="register-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-header">
                    <h1 class="form-title">Register</h1>
                </div>
                <label for="first name">First Name</label>
                <span onfocusout="validFName()" placeholder=" first name" required>
                    {{ form.fname(placeholder="first name") }} </span> <br>
					<div id = "fnameError"></div> <br>
                <label for="last name">Last Name</label>
                <span onfocusout="validLName()" placeholder=" last name" required>
                    {{ form.lname(placeholder = "last name") }} </span> <br>
					<div id = "lnameError"></div> <br>
                <label for="username">Username</label>
                <span onfocusout="validUser()" placeholder=" first name" required>
                    {{ form.user(placeholder="username") }} </span> <br>
					<div id = "userError"></div> <br>
                <label for="username">E-Mail</label>
                <span onfocusout="validEmail()" placeholder=" last name" required>
                    {{ form.email(placeholder = "E-Mail") }} </span> <br>
					<div id = "emailError"></div> <br>
                <label for="username">Password</label>
                <span onfocusout="validPass()" placeholder=" last name" required>
                    {{ form.password(placeholder = "Password") }} </span> <br>
					<div id = "passError"></div> <br>
                <label for="username">Confirm Password</label>
                <span onfocusout="validConfirmPass()" placeholder=" last name" required>
                    {{ form.confirmPassword(placeholder = "confirm password") }} </span> <br>
					<div id = "confirmError"></div> <br>
                {{ form.submit(class='formLabel') }}
            </fieldset>
            <p class="message">Already registered? <a class="formAnchor" href="{{ url_for('login') }}">Sign In</a></p>
            <p class="message">Forgot password? <a class="formAnchor" href="{{ url_for('forgotPassword') }}">Reset Password</a></p>
        </form>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock scripts %}
<!--<form name="registerForm" method="POST" action=""> old form
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Register</legend>
			
			<div class="formLabel">
			{{ form.fname.label() }}
			<span onfocusout="validFName()" required> {{ form.fname() }} </span>
	    
			{{ form.lname.label() }}
			<span onfocusout="validLName()" required> {{ form.lname() }} </span> <br>
			<div id = "fnameError"></div>
			<div id = "lnameError"></div>
			</div>
			
			<div class="formLabel">
                {{ form.user.label() }}
            <span onfocusout="validUser()" required> {{ form.user() }} </span> <br>
			<div id = "userError"></div>
            </div>
			<div class="formLabel">
                {{ form.email.label() }}
            <span onfocusout="validEmail()" required> {{ form.email() }} </span> <br>
			<div id = "emailError"></div>
            </div>
            <div class="formLabel">
                {{ form.password.label() }}
            <span onfocusout="validPass();" required> {{ form.password() }} </span> <br>
			<div id = "passError"></div>
            </div>
            <div class="formLabel">
                {{ form.confirmPassword.label() }}
            <span onfocusout="validConfirmPass()" required> {{ form.confirmPassword() }} </span> <br>
			<div id = "confirmError"></div>
            </div>
        </fieldset>
        <div class="formLabel">
            {{ form.submit() }}
        </div>
    </form>-->