<!-- Hi, Test -->
{% extends "layout.html" %}
{% block content %}
    <form name="registerForm" method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Register</legend>
			
			<div class="formLabel">
			{{ form.fname.label() }}
			<span onfocusout="validFName()" required> {{ form.fname() }} </span>
	    
			{{ form.lname.label() }}
			<span onfocusout="validLName()" required> {{ form.lname() }} </span> <br>
			<div id = "fnameError"></div>
			<div id = "lnameError"></div>
			</div>
			
			<div class="formLabel">
                {{ form.user.label() }}
            <span onfocusout="validUser()" required> {{ form.user() }} </span> <br>
			<div id = "userError"></div>
            </div>
			<div class="formLabel">
                {{ form.email.label() }}
            <span onfocusout="validEmail()" required> {{ form.email() }} </span> <br>
			<div id = "emailError"></div>
            </div>
            <div class="formLabel">
                {{ form.password.label() }}
            <span onfocusout="validPass();" required> {{ form.password() }} </span> <br>
			<div id = "passError"></div>
            </div>
            <div class="formLabel">
                {{ form.confirmPassword.label() }}
            <span onfocusout="validConfirmPass()" required> {{ form.confirmPassword() }} </span> <br>
			<div id = "confirmError"></div>
            </div>
        </fieldset>
        <div class="formLabel">
            {{ form.submit() }}
        </div>
    </form>
    <div>
        Have an account? <a href="{{ url_for('login') }}">Login.</a>
    </div>
{% endblock %}