<!-- Route still needs to be added -->

{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Reset Password</legend>
            <div class="formLabel">
                {{ form.password.label() }}
                <span onfocusout="validPass()" required> {{ form.password() }} </span> <br>
				<div id = "passError"></div>
            </div>
            <div class="formLabel">
                {{ form.confirmPassword.label() }}
                <span onfocusout="validConfirmPass();" required> {{ form.confirmPassword() }} </span> <br>
				<div id = "confirmError"></div>
            </div>
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}